@import "bootstrap-variables";
/*
 *
 * ==========================================
 * Service Slider style
 * ==========================================
 *
 */
.zip-code {
  img{
    align-self: center;
  }
}
.service-slider__area{
  position: relative;
  padding: 50px 0;
  margin-bottom: 40px;

  .slick-initialized .slick-slide{
    outline: 0;
  }
  .slick-slide img{
    margin: 0 auto;
  }
  .slick-dots{
    display: flex !important;
    justify-content: center;
    list-style: none;
    bottom: 0;
    margin: 20px 0;
    li>button{
      border-radius: 40px;
      border: 1px solid $black;
      width: 10px;
      height: 10px;
      text-align: center;
      cursor: pointer;
      padding: 0;
      color: $black;
      font-size: 16px;
      display: block;
      line-height: 28px;
      margin: 0 5px;
      text-indent: -9999999px;
      opacity: 0.5;
      &:hover{
        border: 1px solid $yellow;
        background-color: $yellow;
        color: $white;
        opacity:1;
      }

    }
    li{
      &.slick-active{
        button{
          border: 1px solid $yellow;
          background-color: $yellow;
          color: $white;
          opacity:1;
        }
      }
    }
  }
  .slick-prev:before, .slick-next:before{
    display: none;
  }
  .slick-arrow{
    border: 0;
    padding: 0;
    position: absolute;
    cursor: pointer;
    box-shadow: none;
    outline: 0;
    top:40%;
    z-index: 1;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    font-size: 20px;
    text-align: center;
    background-color: $light;
    color:$black;
    &:hover ,&:focus{
      background-color:$yellow ;
      color:$white;
      box-shadow: none;
      outline: 0;
      border: 0;
    }
  }
  .slick-arrow{
    top: 50%;
  }
  .slick-next {
    right: 0%;
  }
  .slick-prev{
    left: 0%;
  }
  .slick-disabled{
    display: none !important;
  }

}

