$fontPath : "../css/fonts";
@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('#{$fontPath}/MyriadPro-Regular.eot');
  src: local('☺'), url('#{$fontPath}/MyriadPro-Regular.woff') format('woff'), url('#{$fontPath}/MyriadPro-Regular.ttf') format('truetype'), url('#{$fontPath}/MyriadPro-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Myriad Pro';
  src: url('#{$fontPath}/MyriadPro-Bold.woff2') format('woff2'),
  url('#{$fontPath}/MyriadPro-Bold.woff') format('woff'),
  url('#{$fontPath}/MyriadPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('#{$fontPath}/MyriadPro-BlackSemiCn.woff2') format('woff2'),
  url('#{$fontPath}/MyriadPro-BlackSemiCn.woff') format('woff'),
  url('#{$fontPath}/MyriadPro-BlackSemiCn.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}


@import "bootstrap-variables";
@import "bootstrap-slider";
@import "slick";
@import "slick-theme";
@import "helpers";
@import "style";
@import "style1";
@import "style2";
@import "responsive";
@import "responsive2";


